.git
.github
.claude
.idea
.next
node_modules
coverage
cache
.cache
*.log
.DS_Store
.env*
!.env.example
tsconfig.tsbuildinfo

.yarn/*
!.yarn/releases
!.yarn/releases/**
!.yarn/plugins
!.yarn/plugins/**
!.yarn/patches
!.yarn/patches/**
